@font-face
{
    font-family: 'aniron';
    src: url('police_h/anirb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face
{
    font-family: 'tngan';
    src: url('police_symbole/tngan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family: 'party';
    src: url('party.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h1, h2, h3, nav
{
    font-family: 'aniron', serif;
    font-size: 90%;

}

body
{
    font-family: 'party', serif;
    font-size: 120%;
    font-weight: bold;
}


html {
    font-size: 14px;  
}

@media (min-width: 576px) {
    html {
        font-size: 18px;
    }
}

section h2 {
    margin: 1rem 0;
    font-size: 1.6em;
}

#nav
{
background-color: orange !important;
}

#liste a
{
    color: black;
}
#liste a:hover
{
    color: orange;
}
/*** Slider ***/

.captions {
    position: absolute;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%;
    left: 0;
    width: 100%;
    color: #fff;
}

/**** Fellows ***/


#face, #faceg, #facea
{
    background-color: #000;
    color: #fff;
}

#gimli
{
    text-decoration: line-through !important;
    color: orange;
}

section.fellows h2 {}

section.fellows h2 span {
    font-size: 0.7em;
    font-weight: normal;
}


.filter-fellows button {
    margin: 1rem;
}

.portrait img {
    opacity: 0.7;
}

.portrait {
    position: relative;
}

.portrait .card-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portrait .reward-info {
    flex: 0 1 auto;
    align-self: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    color: orange;
    font-weight: bold;
    transition: opacity 0.25s ease-out;
}

.portrait .portrait-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.portrait .card-title {
    font-size: 2em;
    transition: all 0.25s ease-out;
}

.portrait:hover img,
.portrait.dead img{
    opacity: 1;
}

.portrait:hover .reward-info {
    opacity: 0; 
}

.portrait:hover .card-title,
.portrait.dead .card-title{
    font-size: 1.5em;

}

.portrait:hover .card-text,
.portrait.dead .card-text{
    display: none;
}
.portrait.dead{
    color:orange;
}

.portrait.dead::before{
    content:'DEAD';
    color: orange;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background:rgba(0,0,0,0.6);
     display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:3rem;
}


.portrait.dead .reward-info{
    display:none;
}

/*** Reward & Army ***/


section.info img {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

section.info .desc > p {
    max-height: 100px;
    overflow: hidden;
}

section.info .desc {
    position: relative;
}

section.reward .desc > p {}

section.army .desc button {
    display: block;
    margin: 0 auto;
}

#captured
{
    background-color: #000;
    color: white;
}

#contact
{
    margin-top: 2%;
    color: orange;
    background-color: #fff;
}

/*** Hunters ***/

.hunters .row
{
    justify-content: space-around;
}

.hunter-item img {
    max-width: 140px;
}

.hunter-item h3 {
    font-family: 'party', serif;
    font-size: 2em;
    color: orange;

}

.hunter-item a {
    color: #000;
    text-decoration: underline;
    font-weight: bold
}

.like-btn {
    font-weight: bold;
}

.like-btn::before {
    content: url(img/like.png);
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}

.like-btn span {
    font-size: 0.7em;
    font-weight: normal;
}

/*** About the ring ***/

section.ring img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

section.ring .card h3 {
    font-size: 1.3em;
    background-color: orange;
}

section.ring
{
    background-color: #000;
}


/*** Contact ***/

section.contact textarea {
    width: 100%;
}

#form
{
    background-color: #000;
    color: #fff;
}

#submit
{
    color: orange;
    background-color: #fff;
}

.mordor-map{
    text-align:center;
}

/*** Footer ***/

#footer
{
    background-color: orange !important;
}

footer a {
    color: #fff;
}